@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Mooli", sans-serif;
  font-weight: 900;
}

.hero {
  background-color: #f7fdff;
  height: 110vh;
  position: relative;
}

.circle {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  margin-top: -70px;
  margin-left: -70px;
  box-shadow: rgba(168, 174, 180, 0.2) 0px 8px 24px;
}

.large-circle {
  position: absolute;
  height: 700px;
  width: 700px;
  background-color: white;
  right: 0;
  border-radius: 50%;
  margin-right: -150px;
  margin-top: -150px;
  box-shadow: rgba(222, 222, 222, 0.2) 0px 8px 24px;
}

.large-circle img {
  padding-top: 200px;
  height: 600px;
  width: 600px;
}

.gray-circle {
  border: 3px solid #aac1ce;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  left: 300px;
  bottom: 80px;
  border-radius: 50%;
}

.red-circle {
  border: 3px solid red;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  left: 100px;
  bottom: 60px;
  border-radius: 50%;
}

.setting-icon {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  left: 700px;
  bottom: 180px;
  border-radius: 50%;
}

.setting-icon img {
  border-radius: 50%;
}

.hero-heading {
  z-index: 999;
}

.navbar-brand img {
  height: 70px;
  width: 70px;
}

/* Custom styles for underline effect on hover */
.navbar-nav .nav-item {
  position: relative;
  font-weight: 600;
}

.nav-link:hover {
  color: #913bff !important;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #913bff;
  /* Color of the underline */
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

.offcanvas-logo {
  background-color: #ffffff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: -50px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(168, 174, 180, 0.2) 0px 8px 24px;
}

.offcanvas-logo img {
  height: 60px;
  width: 60px;
}

.generator-heading {
  color: #913bff;
  text-decoration: underline;
}

.search-icon img {
  height: 20px;
  width: 20px;
}

.search-here input {
  width: 100%;
}

.input-border {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 70%;
}

.btn-presentation {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(153, 80, 255, 1) 0%,
    rgba(153, 80, 255, 1) 35%,
    rgba(90, 94, 255, 1) 100%
  );
}
.btn-presentation:hover {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.pages-dropdown {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(153, 80, 255, 1) 0%,
    rgba(153, 80, 255, 1) 35%,
    rgba(90, 94, 255, 1) 100%
  );
}

.stars img {
  height: 30px;
  width: 30px;
}

.bg-light-blue {
  background-color: #f7fdff;
}

.work-title {
  background-color: #f7f1ff;
  color: #913bff;
  letter-spacing: 1px;
  width: 35%;
}

.client-title {
  background-color: #f7f1ff;
  color: #913bff;
  letter-spacing: 1px;
  width: 50%;
}

.services-circle {
  height: 700px;
  width: 700px;
  border-radius: 50%;
  box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
}

.services-circle img {
  height: 550px;
  width: 550px;
}

.number-circle {
  border: 1px solid #913bff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.3s;
}

.card:hover .number-circle {
  background-color: #913bff;
  color: #ffffff;
}

.card {
  box-shadow: -20px 20px 50px rgba(0, 40, 99, 0.05);
}

.number-card {
  display: grid;
  grid-template-columns: 70px auto;
}

.work-circle {
  height: 700px;
  width: 700px;
  border-radius: 50%;
  box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
}

.work-circle img {
  height: 700px;
  width: 700px;
  box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
}

.large-heading {
  font-size: 56px;
}

.solution-section {
  border-radius: 20px;
  background-color: #913bff;
}

.testimonials {
  background-color: #f7f1ff;
  color: #913bff;
  letter-spacing: 1px;
  width: 45%;
}

.bg-light-blue {
  background-color: #f7fdff;
  padding: 100px 0px;
}

.footer-section {
  background-color: #f7fdff !important;
  padding: 50px 0px;
}

.quote {
  height: 50px;
  width: 50px;
}

.client-testimonials {
  background-color: white;
  box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
  border-radius: 40px;
}

.testimonial-content {
  line-height: 3rem;
}

.faq {
  padding: 100px 0px;
}

.btn-contact {
  background-color: #913bff;
}

.accordion-item {
  box-shadow: rgba(195, 196, 197, 0.2) 0px 8px 24px;
}

.sponsers {
  box-shadow: rgba(195, 196, 197, 0.2) 0px 8px 24px;
  /* box-shadow: 0 25px 60px rgba(0,106,204,.05); */
  border-radius: 20px;
  transition: 0.4s;
}

.sponsers:hover {
  margin-top: -7px;
}

.google img {
  height: 60px;
  width: 170px;
  object-fit: contain;
}

.chat-gpt img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.logo-ai img {
  height: 60px;
  width: 170px;
  object-fit: contain;
}

.figma img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.unsplash img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.btn-subscribe {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #913bff;
  transition: 0.4s;
}

.btn-subscribe:hover {
  background-color: #aac1ce;
}

.footer-logo img {
  height: 50px;
  width: 50px;
}

.social {
  background-color: #edf3fb;
  transition: 0.4s;
}

.social i {
  color: #3b668d;
}

.social:hover {
  background-color: #738bae;
}

.social:hover i {
  color: #ffffff;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero {
    background-color: #f7fdff;
    height: 60vh;
    position: relative;
  }
  .large-circle {
    height: 490px;
    width: 490px;
    margin-right: -0px;
    margin-top: -0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .large-circle img {
    padding-top: 0px;
    height: 290px;
    width: 290px;
  }
  .large-heading {
    font-size: 46px;
  }

  .services-circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
  }

  .work-circle {
    height: 390px;
    width: 390px;
    border-radius: 50%;
    box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
  }

  .work-circle img {
    height: 390px;
    width: 390px;
    box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero {
    height: 80vh;
  }

  .large-circle img {
    display: none;
  }

  .large-circle {
    display: none;
  }

  .setting-icon {
    left: 270px;
    bottom: 270px;
  }

  .red-circle {
    left: 15px;
    bottom: 100px;
  }

  .gray-circle {
    left: 300px;
    bottom: 390px;
  }

  .services-circle {
    height: 330px;
    width: 330px;
  }

  .client-title {
    width: 60%;
  }

  .services-circle img {
    height: 300px;
    width: 300px;
  }

  .work-title {
    width: 50%;
  }

  .work-circle {
    height: 330px;
    width: 330px;
    margin-top: 50px;
  }

  .work-circle img {
    height: 329px;
    width: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ai-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testimonials {
    width: 70%;
  }

  .testimonial-content {
    line-height: 1.5rem;
    font-size: 15px;
  }

  large-heading. {
    font-size: 40px;
  }

  .bg-light-blue {
    padding: 50px 0px;
  }

  .faq {
    padding: 50px 0px;
  }
}
