@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-family: "Mooli", sans-serif;
  font-weight: 900;
}
.hero {
  background-color: #f7fdff;
  height: 100vh;
  position: relative;
}

.circle {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  margin-top: -70px;
  margin-left: -70px;
  box-shadow: rgba(168, 174, 180, 0.2) 0px 8px 24px;
}

.large-circle {
  position: absolute;
  height: 700px;
  width: 700px;
  background-color: white;
  right: 0;
  border-radius: 50%;
  margin-right: -150px;
  margin-top: -150px;
  box-shadow: rgba(222, 222, 222, 0.2) 0px 8px 24px;
}

.large-circle img {
  padding-top: 200px;
  height: 600px;
  width: 600px;
}

.gray-circle {
  border: 3px solid #aac1ce;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  left: 300px;
  bottom: 80px;
  border-radius: 50%;
}

.red-circle {
  border: 3px solid red;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  left: 100px;
  bottom: 60px;
  border-radius: 50%;
}

.setting-icon {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  left: 700px;
  bottom: 180px;
  border-radius: 50%;
}

.setting-icon img {
  border-radius: 50%;
}

.hero-heading {
  z-index: 999;
}

.navbar-brand img {
  height: 70px;
  width: 70px;
}

/* Custom styles for underline effect on hover */
.navbar-nav .nav-item {
  position: relative;
  font-weight: 600;
}

.nav-link:hover {
  color: #913bff !important;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #913bff; /* Color of the underline */
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

.generator-heading {
  color: #913bff;
  text-decoration: underline;
}

.search-icon img {
  height: 20px;
  width: 20px;
}

.search-here input {
  width: 100%;
}

.input-border {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 70%;
}

.btn-presentation {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(153, 80, 255, 1) 0%,
    rgba(153, 80, 255, 1) 35%,
    rgba(90, 94, 255, 1) 100%
  );
}

.stars img {
  height: 30px;
  width: 30px;
}

.bg-light-blue {
  background-color: #f7fdff;
}

.work-title {
  background-color: #f7f1ff;
  color: #913bff;
  letter-spacing: 1px;
}
.client-title {
  background-color: #f7f1ff;
  color: #913bff;
  width: 42%;
  letter-spacing: 1px;
}

.services-circle {
  height: 700px;
  width: 700px;
  border-radius: 50%;
  box-shadow: rgba(225, 225, 225, 0.2) 0px 8px 24px;
}

.services-circle img {
  height: 550px;
  width: 550px;
}

.number-circle {
  border: 1px solid #913bff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.3s;
}
.card:hover .number-circle {
  background-color: #913bff;
  color: #ffffff;
}

.card {
  box-shadow: -20px 20px 50px rgba(0, 40, 99, 0.05);
}

.number-card {
  display: grid;
  grid-template-columns: 70px auto;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero {
    height: 80vh;
  }
  .large-circle img {
    display: none;
  }
  .large-circle {
    display: none;
  }
  .setting-icon {
    left: 270px;
    bottom: 270px;
  }
  .red-circle {
    left: 15px;
    bottom: 150px;
  }
  .gray-circle {
    left: 300px;
    bottom: 390px;
  }
  .services-circle {
    height: 330px;
    width: 330px;
  }

  .services-circle img {
    height: 300px;
    width: 300px;
  }
}
